/* Your app styles here */

.md .theme-gray,
.md.theme-gray {
  --f7-page-bg-color: #a0a0a0;
  --f7-navbar-bg-color: #a0a0a0;
  --f7-sheet-bg-color: #a0a0a0;
  --f7-list-bg-color: #c0c0c0;
}



.md .theme-blue,
.md.theme-blue {
  --f7-page-bg-color: #5ac8fa;
  --f7-navbar-bg-color: #5ac8fa;
  --f7-sheet-bg-color: #5ac8fa;

  --f7-block-title-text-color: #205070;

  --f7-list-bg-color: #98ddfd;
  --f7-list-chevron-icon-color: #434345;
  --f7-list-border-color: #808080;
  --f7-list-item-border-color: #909090;

  --f7-block-margin-vertical: 15px;
  --f7-block-title-margin-top: 10px;
  --f7-block-title-margin-bottom: 10px;
}

.item-media { min-width:20px !important; }



.md .theme-my,
.md.theme-my {
  --f7-page-bg-color: #171717;
  --f7-page-master-border-color: rgba(255, 255, 255, 0.1);

  --f7-sheet-bg-color: #171717;
  --f7-sheet-border-color: var(--f7-bars-border-color);

  --f7-text-color: #505050;

  --f7-bars-bg-color: #1b1b1b;
  --f7-bars-text-color: #fff;
  --f7-bars-border-color: #282829;

  --f7-block-strong-border-color: #282829;
  --f7-block-title-text-color: #fff;
  --f7-block-header-text-color: rgba(255, 255, 255, 0.54);
  --f7-block-footer-text-color: rgba(255, 255, 255, 0.54);
  --f7-block-strong-bg-color: #1c1c1d;
  --f7-block-title-medium-text-color: #fff;
  --f7-block-title-large-text-color: #fff;
  --f7-block-margin-vertical: 10px;
  --f7-block-margin-bottom: 10px;

  --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);

  --f7-sheet-bg-color: #202020;
  --f7-sheet-border-color: transparent;

  --f7-link-highlight-color: var(--f7-link-highlight-white);

  --f7-list-bg-color: #1c1c1d;
  --f7-list-border-color: #707070;
  --f7-list-button-text-color: #fff;
  --f7-list-item-border-color: #707070;
  --f7-list-item-divider-border-color: #282829;
  --f7-list-item-divider-bg-color: #232323;
  --f7-list-item-divider-text-color: #fff;
  --f7-list-group-title-bg-color: #232323;
  --f7-list-group-title-text-color: #fff;
  --f7-list-link-pressed-bg-color: rgba(255, 255, 255, 0.05);
  --f7-list-button-pressed-bg-color: rgba(255, 255, 255, 0.05);
  --f7-list-chevron-icon-color: #434345;
  --f7-list-item-text-text-color: rgba(255, 255, 255, 0.54);
  --f7-list-item-after-text-color: rgba(255, 255, 255, 0.54);
  --f7-list-item-footer-text-color: rgba(255, 255, 255, 0.54);

  --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
}
